<!DOCTYPE html>
<html>
  <head>
    <title>SetOnline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand">Set Online</a>
      </nav>
    </header>
    <main role="main">
      <div class="container mt-3">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
